<!doctype html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Bootstrap JavaScript Bundle com Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>  
  <title>EcommercerWebsite!</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
</body>
  <header>
    <nav class="navbar navbar-expand-lg nav-menu bg-dark">
      <button class="navbar-toggler nav-button" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">

        <div class="bg-light linel"></div>
        <div class="bg-light line2"></div>
        <div class="bg-light line3"></div>
      </button>
      <a href="#" class="navbar-brand text-ligth text-uppercase mx-lg-2 max-auto">
        <span class="h2"><i class="fa-solid fa-tree"></i></span>
      </a>
      <div class="collapse navbar-collapse justify-content-center text-uppercase fw-bold show" id="myNavbar">
        <div class="col-10 grp">
          <ul class="navbar-nav m-1 text-ligth">
            <li class="nav-item">
              <a href="#" id="home" class="nav-link box m-2 menu-item">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" id="home" class="nav-link box m-2 menu-item">Brand</a>
            </li>
            <li class="nav-item">
              <a href="#" id="home" class="nav-link box m-2 menu-item">Product</a>
            </li>
            <li class="nav-item">
              <a href="#" id="home" class="nav-link box m-2 menu-item">About</a>
            </li>
            <li class="nav-item">
              <a href="#" id="home" class="nav-link box m-2 menu-item">Contact</a>
            </li>
            <li class="nav-item">
              <a href="#" id="home" class="nav-link box m-2 menu-item">Category</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2">
          <ul class="navbar-nav float-end">
            <li class="nav-item"><a href="#" class="nav-link text-ligth signup">Sign Up</a></li>
          </ul>
        </div>

      </div>

      <!-- <div class="px-1 col-2 lg-1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-shopping-cart fa-2x" style="color:white"></i>
            </a>
          </li>
        </ul>
      </div> -->

      <a href="#" class="navbar-brand" data-bs-toggle="modal" data-bs-target="#sign-in">
        <button class="btn" type="button" style="background-color: #318fb5;">Sign In</button>
      </a>

      <!-- <a href="#" class="navbar-brand" onclick="">
        <button class="btn" type="button" style="background-color: #318fb5;">Sign out</button>
      </a> -->
    </nav>
  </header>

  <div class="modal fade" id="sign-in">
    <form action="">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sign in</h4>
          </div>
          <div class="modal-body">
            <div class="form-group py-2">
              <label for="email" class="label">Email Address</label>
              <input type="email" id="email" class="form-control my-2 p-2 input" name="username" autocomplete="email">
            </div>
            <div class="form-group py-2">
              <label for="password" class="label">Password</label> 
              <input type="password" id="password" class="form-control my-2 p-2 input" name="password" autocomplete="current-password"> 
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="submit" class="btn" style="background-color: #318fb5;">Sign In</button>
          </div>
        </div>
      </div>
    </form>
  </div>

<script src="https://kit.fontawesome.com/b5b2d85d72.js" crossorigin="anonymous"></script>
</body>

</html>