<%- include('partials/header') -%>

<div class="text-center background-brand">
    <h1 class="pt-5">Products</h1>
    <p class="lead pb-5">Choose our product from the brand you like </p>
    <form action="">
        <div class="input-group mb-3 mx-auto" style="max-width: 35rem;">
            <input type="text" class="form-control" placeholder="Search for your brand" name="brandname">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary mb-5" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<section class="bg-light">
    <div class="row">
        <div class="col">
            <ul class="Products">
                <li>
                    <div class="product">
                        <a href="#" styles="text-decoration:none">
                            <img src="../images/image1.jpg" alt="" class="product-image">
                            <div class="row mt-2">
                                <div class="center-block col">
                                    <span name="inn" style="text-decoration: none;" class="product-name h6">Item title</span>
                                </div>
                            </div>
                        </a>
                        <div class="col text-end mx-5 h5 center-block product-price">
                        R$10
                        </div>
                        <div class="product-brand">
                            Brand<span class="font-weigth-bold"> Google</span>
                        </div>
                        <div class="product-brand">
                            category<span class="font-weigth-bold">Johnsohn </span>
                            <div class="product-brand">
                                Size <span class="font-weight-bold">200ml</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col">
            <ul class="Products">
                <li>
                    <div class="product">
                        <a href="#" styles="text-decoration:none">
                            <img src="../images/image1.jpg" alt="" class="product-image">
                            <div class="row mt-2">
                                <div class="center-block col">
                                    <span name="inn" style="text-decoration: none;" class="product-name h6">Item title</span>
                                </div>
                            </div>
                        </a>
                        <div class="col text-end mx-5 h5 center-block product-price">
                        R$10
                        </div>
                        <div class="product-brand">
                            Brand<span class="font-weigth-bold"> Google</span>
                        </div>
                        <div class="product-brand">
                            category<span class="font-weigth-bold">Johnsohn </span>
                            <div class="product-brand">
                                Size <span class="font-weight-bold">200ml</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col">
            <ul class="Products">
                <li>
                    <div class="product">
                        <a href="#" styles="text-decoration:none">
                            <img src="../images/image1.jpg" alt="" class="product-image">
                            <div class="row mt-2">
                                <div class="center-block col">
                                    <span name="inn" style="text-decoration: none;" class="product-name h6">Item title</span>
                                </div>
                            </div>
                        </a>
                        <div class="col text-end mx-5 h5 center-block product-price">
                        R$10
                        </div>
                        <div class="product-brand">
                            Brand<span class="font-weigth-bold"> Google</span>
                        </div>
                        <div class="product-brand">
                            category<span class="font-weigth-bold">Johnsohn </span>
                            <div class="product-brand">
                                Size <span class="font-weight-bold">200ml</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col">
            <ul class="Products">
                <li>
                    <div class="product">
                        <a href="#" styles="text-decoration:none">
                            <img src="../images/image1.jpg" alt="" class="product-image">
                            <div class="row mt-2">
                                <div class="center-block col">
                                    <span name="inn" style="text-decoration: none;" class="product-name h6">Item title</span>
                                </div>
                            </div>
                        </a>
                        <div class="col text-end mx-5 h5 center-block product-price">
                        R$10
                        </div>
                        <div class="product-brand">
                            Brand<span class="font-weigth-bold"> Google</span>
                        </div>
                        <div class="product-brand">
                            category<span class="font-weigth-bold">Johnsohn </span>
                            <div class="product-brand">
                                Size <span class="font-weight-bold">200ml</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col">
            <ul class="Products">
                <li>
                    <div class="product">
                        <a href="#" styles="text-decoration:none">
                            <img src="../images/image1.jpg" alt="" class="product-image">
                            <div class="row mt-2">
                                <div class="center-block col">
                                    <span name="inn" style="text-decoration: none;" class="product-name h6">Item title</span>
                                </div>
                            </div>
                        </a>
                        <div class="col text-end mx-5 h5 center-block product-price">
                        R$10
                        </div>
                        <div class="product-brand">
                            Brand<span class="font-weigth-bold"> Google</span>
                        </div>
                        <div class="product-brand">
                            category<span class="font-weigth-bold">Johnsohn </span>
                            <div class="product-brand">
                                Size <span class="font-weight-bold">200ml</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col">
            <ul class="Products">
                <li>
                    <div class="product">
                        <a href="#" styles="text-decoration:none">
                            <img src="../images/image1.jpg" alt="" class="product-image">
                            <div class="row mt-2">
                                <div class="center-block col">
                                    <span name="inn" style="text-decoration: none;" class="product-name h6">Item title</span>
                                </div>
                            </div>
                        </a>
                        <div class="col text-end mx-5 h5 center-block product-price">
                        R$10
                        </div>
                        <div class="product-brand">
                            Brand<span class="font-weigth-bold"> Google</span>
                        </div>
                        <div class="product-brand">
                            category<span class="font-weigth-bold">Johnsohn </span>
                            <div class="product-brand">
                                Size <span class="font-weight-bold">200ml</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>

<%- include('partials/footer') -%>
